<h1 class="l-title b-title">{{title}}</h1>
<div class="l-button-close">
    <button class="b-button j-button-close">Все камеры</button>
</div>
<div class="l-cameras j-cameras">
    <article class="b-camera">
        <video muted id="camera-1" class="b-camera__video"></video>
    </article>
    <article class="b-camera">
        <video id="camera-2" class="b-camera__video"></video>
    </article>
    <article class="b-camera">
        <video id="camera-3" class="b-camera__video"></video>
    </article>
    <article class="b-camera">
        <video id="camera-4" class="b-camera__video"></video>
    </article>
</div>
<div class="l-controls j-controls">
    <div class="b-filters j-filters">
        <div class="b-filter__item">
            <div class="b-filter__item-title">Измените яркость</div>
            <div class="b-slider b-slider_theme_light">
                <input id="brightness" type="range" class="b-slider__range" min="0" max="100" name="brightness">
                <div class="b-slider__value">
                    <img class="b-slider__value-min" src="icons/icon_sun_min.svg" alt="Минимальная мощность освещения">
                    <img class="b-slider__value-max" src="icons/icon_sun_max.svg" alt="Максимальная мощность освещения">
                </div>
            </div>
        </div>
        <div class="b-filter__item">
            <div class="b-filter__item-title">Измените контрастность</div>
            <div class="b-slider b-slider_theme_temp">
                <input type="range" class="b-slider__range" min="0" max="100" name="contrast">
                <div class="b-slider__value">
                    <img class="b-slider__value-min" src="icons/icon_sun_min.svg" alt="Минимальная мощность освещения">
                    <img class="b-slider__value-max" src="icons/icon_sun_max.svg" alt="Максимальная мощность освещения">
                </div>
            </div>
        </div>
    </div>

    <div class="b-analyzer j-analyzer">
        <div class="b-analyzer__title">Уровень громкости</div>
        <h2 class="b-analyzer__no-signal j-analyzer-no-signal">Нет сигнала</h2>
        <canvas width="100" height="150" class="j-analyzer__wrap"></canvas>
    </div>
</div>